*
!Makefile
!alembic*
!alembic/**
!keycloak-procore-idp
!keycloak-procore-idp/**
!hooks/README.md
!hooks/poetry.lock
!hooks/pyproject.toml
!launchpad
!launchpad/**
!pyproject.toml
!poetry.lock
!scripts
!scripts/**
!README.md
!.apolo
!.apolo/**
